@charset "UTF-8";
/* Reset del navegador */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  margin: 0px;
  padding: 0px; }

body {
  font-size: 16px; }

/* ----------------- LOGO/MARCA ----------------------------------------- */
/* Header estilos */
.header {
  grid-area: header;
  /* En este bloque se define flex para poder centrar la marca  */ }
  .header .marca-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Estilos de la marca */ }
    .header .marca-box .marca-box__enlace {
      text-align: center;
      font-size: 3rem;
      text-decoration: none;
      font-family: 'New Tegomin', serif;
      color: #A0999A;
      font-weight: lighter;
      transition: all 2s; }
    .header .marca-box .marca-box__enlace:hover {
      color: black;
      font-size: 3.2rem; }

/* ----------------- NAVEGACIÓN ----------------------------------------- */
/* Navegador estilos */
/* En este bloque se define flex para poder centrar la lista  */
.navegador {
  grid-area: nav;
  display: flex;
  justify-content: center;
  /* En este bloque se define flex para poder centrar la lista  en forma column */ }
  .navegador .navegador__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* estilos al navegador */ }
    .navegador .navegador__lista .a-nav {
      text-decoration: none;
      font-size: 1rem;
      font-family: 'New Tegomin', serif;
      font-weight: lighter;
      text-decoration: none;
      color: #A0999A; }
    .navegador .navegador__lista .a-nav:hover {
      color: black;
      font-size: 1.2rem; }

/* ----------------- Pantalla Inicio ----------------------------------------- */
/* Main principal inicio */
.section-inicio {
  grid-area: section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section-inicio .box-inicio {
    border: solid 1px whitesmoke;
    border-radius: 2em;
    margin: auto 20%;
    background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)); }
    .section-inicio .box-inicio .box-inicio__h2 {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      font-family: 'Noto Sans JP', sans-serif;
      color: black; }
    .section-inicio .box-inicio .box-inicio__p {
      font-size: 1rem;
      font-family: 'Noto Sans JP', sans-serif;
      color: black;
      font-weight: bold;
      text-align: center;
      line-height: 1.8;
      padding: 0.8rem 10%; }

/* ----------------- Pantalla Destinos ----------------------------------------------- */
#destinos {
  background: whitesmoke;
  width: 100%;
  /* Main principal destinos - div #enlaces */ }
  #destinos .section-inicio {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* Main principal destinos - div section-table */ }
    #destinos .section-inicio .enlaces-destinos {
      width: 100%;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
      #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 1rem;
        font-family: 'New Tegomin', serif;
        font-weight: lighter;
        text-decoration: none;
        color: #A0999A; }
        #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista .a-destinos {
          text-decoration: none;
          font-size: 1rem;
          font-family: 'New Tegomin', serif;
          font-weight: lighter;
          text-decoration: none;
          color: #A0999A;
          text-align: center; }
        #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista .a-destinos:hover {
          color: black;
          font-weight: bold;
          font-size: 1.1rem; }
    #destinos .section-inicio .section-table {
      width: 100%; }
      #destinos .section-inicio .section-table .section-table__table {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #destinos .section-inicio .section-table .section-table__table .table-tr {
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          padding: 20px; }
          #destinos .section-inicio .section-table .section-table__table .table-tr .table-tr__td {
            text-align: center;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            #destinos .section-inicio .section-table .section-table__table .table-tr .table-tr__td .destinos-h2 {
              font-size: 2rem;
              font-family: 'New Tegomin', serif;
              font-weight: lighter;
              text-decoration: none;
              color: black; }
            #destinos .section-inicio .section-table .section-table__table .table-tr .table-tr__td .destinos-p {
              font-size: 1rem;
              font-family: 'New Tegomin', serif;
              font-weight: lighter;
              text-decoration: none;
              color: black; }

/* ----------------- Pantalla Paquetes ----------------------------------------- */
/* id para sacar imagen del fondo */
#paquetes {
  background: white; }
  #paquetes .box-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 20px; }
    #paquetes .box-cards .card {
      margin: 10px; }
      #paquetes .box-cards .card .card-img-top {
        height: 180px; }
      #paquetes .box-cards .card .card-body {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #paquetes .box-cards .card .card-body .card-title {
          text-align: center; }
        #paquetes .box-cards .card .card-body .card-text {
          text-align: center; }
        #paquetes .box-cards .card .card-body .btn {
          text-align: center; }

/* ----------------- Pantalla Contacto ----------------------------------------- */
#contacto {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background: whitesmoke; }
  #contacto .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px; }
    #contacto .contact_form .formulario .formulario input:focus {
      outline: 0;
      border: 1px solid #97d848; }
    #contacto .contact_form .formulario .formulario textarea:focus {
      outline: 0;
      border: 1px solid #97d848; }
    #contacto .contact_form .formulario .formulario_h1 {
      font-size: 39px;
      text-align: letf;
      padding-bottom: 20px;
      color: #000; }
    #contacto .contact_form .formulario .formulario_h3 {
      font-size: 16px;
      padding-bottom: 30px;
      color: #0e0e0e; }
    #contacto .contact_form .formulario .formulario__form .name {
      font-size: 14px;
      color: #0e0e0e; }
      #contacto .contact_form .formulario .formulario__form .name .name__label {
        display: block;
        float: center; }
        #contacto .contact_form .formulario .formulario__form .name .name__label .name__label--obligatorio {
          color: #000; }
      #contacto .contact_form .formulario .formulario__form .name .name__input {
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px; }
    #contacto .contact_form .formulario .formulario__form .email {
      font-size: 14px;
      color: #0e0e0e; }
      #contacto .contact_form .formulario .formulario__form .email .email__label {
        display: block;
        float: center; }
        #contacto .contact_form .formulario .formulario__form .email .email__label .email__label--obligatorio {
          color: #000; }
      #contacto .contact_form .formulario .formulario__form .email .email__input {
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px; }
    #contacto .contact_form .formulario .formulario__form .telefono {
      font-size: 14px;
      color: #0e0e0e; }
      #contacto .contact_form .formulario .formulario__form .telefono .telefono__label {
        display: block;
        float: center; }
        #contacto .contact_form .formulario .formulario__form .telefono .telefono__label .email__label--obligatorio {
          color: #000; }
      #contacto .contact_form .formulario .formulario__form .telefono .telefono__input {
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px; }
    #contacto .contact_form .formulario .formulario__form .asunto {
      font-size: 14px;
      color: #0e0e0e; }
      #contacto .contact_form .formulario .formulario__form .asunto .asunto__label {
        display: block;
        float: center; }
        #contacto .contact_form .formulario .formulario__form .asunto .asunto__label .asunto_label--obligatorio {
          color: #000; }
      #contacto .contact_form .formulario .formulario__form .asunto .asunto__input {
        background-color: #fbfbfb;
        width: 408px;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px; }
    #contacto .contact_form .formulario .formulario__form .mensaje {
      font-size: 14px;
      color: #0e0e0e; }
      #contacto .contact_form .formulario .formulario__form .mensaje .mensaje__label {
        display: block;
        float: center; }
        #contacto .contact_form .formulario .formulario__form .mensaje .mensaje__label .mensaje__label--obligatorio {
          color: #000; }
      #contacto .contact_form .formulario .formulario__form .mensaje .mensaje__textarea {
        background-color: #fbfbfb;
        width: 405px;
        height: 150px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        padding-top: 15px; }
    #contacto .contact_form .formulario .formulario__form .boton-enviar {
      height: 45px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
      margin-top: 10px;
      text-transform: uppercase;
      background-color: #0bad6c;
      border-color: #000;
      border-style: solid;
      border-radius: 10px;
      width: 420px;
      cursor: pointer; }
      #contacto .contact_form .formulario .formulario__form .boton-enviar .boton-enviar__p {
        color: #fff; }
    #contacto .contact_form .formulario .formulario__form .aviso {
      font-size: 14px;
      color: #0e0e0e; }

/* ----------------- Footer ----------------------------------------- */
/* Pie de página estilos */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .footer__h4 {
    font-size: 0.8rem;
    font-family: 'New Tegomin', serif;
    color: black;
    font-weight: bold;
    text-align: center; }

/* ----------------- Media query para dispositivos entre 0 y 479px - Mobile first ----------------------------------------- */
@media screen and (max-width: 479px) {
  .body-general {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "nav" "section" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 7.5fr 0.5fr;
    background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)), url(../imagen/img-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

/* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
/* Media query para dispositivos entre 480 y 767px - Mobile first */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .body-general {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "nav" "section" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 7.5fr 0.5fr;
    background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)), url(../imagen/img-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  /* ------------ navegacion ------------ */
  .marca-box__enlace {
    color: black;
    font-size: 3.5rem; }
  .navegador__lista {
    flex-direction: row; }
    .navegador__lista .a-nav {
      padding: 0 0.5rem; }
    .navegador__lista .a-nav:hover {
      color: black;
      font-size: 1.2rem; } }

/* Media query para dispositivos entre 768 y 959px - Mobile first */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .body-general {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "header nav" "section section" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7.5fr 0.5fr;
    background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)), url(../imagen/img-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  /* ------------ navegacion ------------ */
  .marca-box__enlace {
    font-size: 2rem; }
  .marca-box__enlace:hover {
    color: black;
    font-size: 2.2rem; }
  .navegador .navegador__lista {
    flex-direction: row;
    align-items: center; }
    .navegador .navegador__lista .a-nav {
      padding: 0 0.5rem; }
    .navegador .navegador__lista .a-nav:hover {
      color: black;
      font-size: 1.2rem; }
  /* ------------ pantalla inicio ------------ */
  .box-inicio__h2 {
    font-size: 3rem; }
  .box-inicio__p {
    font-size: 1.1rem;
    padding: 1rem 10%; }
  /* ------------ pantalla destino ------------ */
  #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista .a-destinos {
      font-size: 1rem;
      padding: 0 5px; }
    #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista .a-destinos:hover {
      font-size: 1.1rem; }
  #destinos .section-inicio .section-table .section-table__table .table-tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px; }
  /* ------------ footer ------------ */
  .footer .footer__h4 {
    font-size: 1.2rem; } }

/* Media query para dispositivos entre 768 y 959px - Mobile first */
@media screen and (min-width: 1024px) {
  .body-general {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "header nav" "section section" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7.5fr 0.5fr;
    background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)), url(../imagen/img-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  /* ------------ navegacion ------------ */
  .marca-box__enlace {
    font-size: 2rem; }
  .marca-box__enlace:hover {
    color: black;
    font-size: 2.2rem; }
  .navegador .navegador__lista {
    flex-direction: row;
    align-items: center; }
    .navegador .navegador__lista .a-nav {
      padding: 0 0.5rem; }
    .navegador .navegador__lista .a-nav:hover {
      color: black;
      font-size: 1.2rem; }
  /* ------------ pantalla inicio ------------ */
  .box-inicio__h2 {
    font-size: 3rem; }
  .box-inicio__p {
    font-size: 1.1rem;
    padding: 1rem 10%; }
  /* ------------ pantalla destino ------------ */
  #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista .a-destinos {
      font-size: 1rem;
      padding: 0 5px; }
    #destinos .section-inicio .enlaces-destinos .enlaces-destinos__lista .a-destinos:hover {
      font-size: 1.1rem; }
  #destinos .section-inicio .section-table .section-table__table .table-tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border-bottom: 1px solid black; }
    #destinos .section-inicio .section-table .section-table__table .table-tr .table-tr__td {
      width: 50%; }
  /* ------------ footer ------------ */
  .footer .footer__h4 {
    font-size: 1.2rem; } }

/* ----------------- Pantalla Galería ----------------------------------------------- */
#galeria {
  background: whitesmoke;
  width: 100%; }
  #galeria .section-inicio {
    margin-top: 50px; }
    #galeria .section-inicio .contenedor-galeria {
      display: grid;
      grid-template-columns: repeat(auto-fill, 230px);
      gap: 20px;
      justify-content: center;
      margin: 0 auto; }
      #galeria .section-inicio .contenedor-galeria .contenedor-galeria__img-galeria {
        width: 230px;
        margin-bottom: 40px;
        border-radius: 15px;
        cursor: zoom-in;
        background-color: lightgray; }
      #galeria .section-inicio .contenedor-galeria .contenedor-galeria__img-galeria:hover {
        filter: opacity(0.9); }
