/* ----------------- Pantalla Contacto ----------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
#contacto {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: whitesmoke;
    .contact_form {
        width: 460px;
        height: auto;
        margin: 80px auto;
        border-radius: 10px;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #fbfbfb;
        padding-left: 30px;
        .formulario {
            .formulario input:focus {
                outline: 0;
                border: 1px solid #97d848;
            }
            .formulario textarea:focus {
                outline: 0;
                border: 1px solid #97d848;
            }
            .formulario_h1 {
                font-size: 39px;
                text-align: letf;
                padding-bottom: 20px;
                color: #000;
            }
            .formulario_h3 {
                font-size: 16px;
                padding-bottom: 30px;
                color: #0e0e0e;
            }
            .formulario__form {
                .name {
                    font-size: 14px;
                    color: #0e0e0e;
                    .name__label {
                        display: block;
                        float: center;
                        .name__label--obligatorio {
                            color: #000;
                        }
                    }
                    .name__input {
                        background-color: #fbfbfb;
                        width: 408px;
                        height: 40px;
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #000;
                        margin-top: 10px;
                        padding-left: 10px;
                        margin-bottom: 20px;
                    }
                }
                .email {
                    font-size: 14px;
                    color: #0e0e0e;
                    .email__label {
                        display: block;
                        float: center;
                        .email__label--obligatorio {
                            color: #000;
                        }
                    }
                    .email__input {
                        background-color: #fbfbfb;
                        width: 408px;
                        height: 40px;
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #000;
                        margin-top: 10px;
                        padding-left: 10px;
                        margin-bottom: 20px;
                    }
                }
                .telefono {
                    font-size: 14px;
                    color: #0e0e0e;
                    .telefono__label {
                        display: block;
                        float: center;
                        .email__label--obligatorio {
                            color: #000;
                        }
                    }
                    .telefono__input {
                        background-color: #fbfbfb;
                        width: 408px;
                        height: 40px;
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #000;
                        margin-top: 10px;
                        padding-left: 10px;
                        margin-bottom: 20px;
                    }
                }
                .asunto {
                    font-size: 14px;
                    color: #0e0e0e;
                    .asunto__label {
                        display: block;
                        float: center;
                        .asunto_label--obligatorio {
                            color: #000;
                        }
                    }
                    .asunto__input {
                        background-color: #fbfbfb;
                        width: 408px;
                        height: 40px;
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #000;
                        margin-top: 10px;
                        padding-left: 10px;
                        margin-bottom: 20px;
                    }
                }
                .mensaje {
                    font-size: 14px;
                    color: #0e0e0e;
                    .mensaje__label {
                        display: block;
                        float: center;
                        .mensaje__label--obligatorio {
                            color: #000;
                        }
                    }
                    .mensaje__textarea {
                        background-color: #fbfbfb;
                        width: 405px;
                        height: 150px;
                        border-radius: 5px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: #000;
                        margin-top: 10px;
                        padding-left: 10px;
                        margin-bottom: 20px;
                        padding-top: 15px;
                    }
                }
                .boton-enviar {
                    height: 45px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    text-transform: uppercase;
                    background-color: #0bad6c;
                    border-color: #000;
                    border-style: solid;
                    border-radius: 10px;
                    width: 420px;
                    cursor: pointer;
                    .boton-enviar__p {
                        color: #fff;
                    }
                }
                .aviso {
                    font-size: 14px;
                    color: #0e0e0e;
                }
            }
        }
    }
}