/* ----------------- Pantalla Inicio ----------------------------------------- */


/* Main principal inicio */

#index {
    background-image: linear-gradient(rgba(247, 243, 243, 0.3), rgba(247, 243, 243, 0.3)), url(../imagen/img-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .section-inicio {
        grid-area: section;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .box-inicio {
            border: solid 1px whitesmoke;
            border-radius: 2em;
            margin: 0 15%;
            .box-inicio__h2 {
                font-size: 1rem;
                font-weight: bolder;
                text-align: center;
                line-height: 1;
                font-family: 'New Tegomin', serif;
                color: black;
                padding-top: 0.4rem;
            }
            .box-inicio__p {
                font-size: 0.8rem;
                font-family: 'Open Sans', sans-serif;
                color: black;
                font-weight: bold;
                text-align: center;
                letter-spacing: normal;
                word-spacing: normal;
                line-height: 1.6;
                padding: 0.4rem 10%;
                .box-inicio__p--strong {
                    font-weight: bolder;
                    font-family: 'New Tegomin', serif;
                    font-size: 1.2;
                }
            }
        }
    }
}