    /* ----------------- Media query para dispositivos entre 0 y 576px - Mobile first ----------------------------------------- */
    
    @media screen and (max-width: 576px) {
        .body-general {
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-areas: "header" "nav" "section" "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 5fr 0.5fr;
        }
    }
    /* ----------------- Media Query Para Mayor Resoluciones ----------------------------------------- */
    /* Media query para dispositivos entre 577 y 768px - Mobile first */
    
    @media screen and (min-width: 577px) and (max-width: 768px) {
        .body-general {
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-areas: "header" "nav" "section" "footer";
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 4.5fr 0.5fr;
        }
        /* ------------ navegacion ------------ */
        .header {
            .marca-box {
                .marca-box__enlace {
                    color: #A0999A;
                    font-size: 3rem;
                }
                .marca-box__enlace:hover {
                    color: black;
                    font-size: 3.5rem;
                }
            }
            .navegador__lista {
                flex-direction: row;
                .a-nav {
                    padding: 0 0.5rem;
                }
                .a-nav:hover {
                    color: black;
                    font-size: 1.2rem;
                }
            }
        }
        /* ------------ Pantalla Inicio ------------ */
        #index {
            .section-inicio {
                .box-inicio {
                    margin: 0 15%;
                    .box-inicio__h2 {
                        margin-top: 10px;
                        font-size: 1.5rem;
                    }
                    .box-inicio__p {
                        font-size: 1rem;
                        padding: 0.9rem 10%;
                    }
                }
            }
        }
    }
    /* Media query para dispositivos entre 769 y 992px - Mobile first */
    
    @media screen and (min-width: 769px) and (max-width: 992px) {
        .body-general {
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-areas: "header nav" "section section" "footer footer";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 6.5fr 0.5fr;
        }
        /* ------------ navegacion ------------ */
        .header {
            .marca-box {
                .marca-box__enlace {
                    font-size: 3rem;
                }
                .marca-box__enlace:hover {
                    color: black;
                    font-size: 3.5rem;
                }
            }
        }
        .navegador {
            .navegador__lista {
                flex-direction: row;
                align-items: center;
                .a-nav {
                    padding: 0 0.5rem;
                }
                .a-nav:hover {
                    color: black;
                    font-size: 1.2rem;
                }
            }
        }
        /* ------------ pantalla inicio ------------ */
        #index {
            .section-inicio {
                .box-inicio {
                    margin: 0 15%;
                    .box-inicio__h2 {
                        margin-top: 10px;
                        font-size: 2rem;
                    }
                    .box-inicio__p {
                        font-size: 1rem;
                        padding: 1rem 10%;
                    }
                }
            }
        }
        /* ------------ pantalla destino ------------ */
        #destinos {
            .section-inicio {
                .enlaces-destinos {
                    .enlaces-destinos__lista {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .a-destinos {
                            font-size: 1rem;
                            padding: 0 5px;
                        }
                        .a-destinos:hover {
                            font-size: 1.1rem;
                        }
                    }
                }
                .section-table {
                    .section-table__table {
                        .table-tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-content: center;
                            padding: 20px;
                        }
                    }
                }
            }
        }
        /* ------------ footer ------------ */
        .footer {
            .footer__h4 {
                font-size: 1.2rem;
            }
        }
    }
    /* Media query para dispositivos entre 993 y 1200px - Mobile first */
    
    @media screen and (min-width: 993px) and (max-width: 1200px) {
        .body-general {
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-areas: "header nav" "section section" "footer footer";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 4fr 0.5fr;
        }
        /* ------------ navegacion ------------ */
        .header {
            .marca-box {
                .marca-box__enlace {
                    font-size: 3rem;
                }
                .marca-box__enlace:hover {
                    color: black;
                    font-size: 3.5rem;
                }
            }
        }
        .navegador {
            .navegador__lista {
                flex-direction: row;
                align-items: center;
                .a-nav {
                    padding: 0 0.5rem;
                }
                .a-nav:hover {
                    color: black;
                    font-size: 1.2rem;
                }
            }
        }
        /* ------------ pantalla inicio ------------ */
        #index {
            .section-inicio {
                .box-inicio {
                    .box-inicio__h2 {
                        font-size: 3.5rem;
                    }
                    .box-inicio__p {
                        font-size: 1.2rem;
                        padding: 1rem 10%;
                    }
                }
            }
        }
        /* ------------ pantalla destino ------------ */
        #destinos {
            .section-inicio {
                .enlaces-destinos {
                    .enlaces-destinos__lista {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .a-destinos {
                            font-size: 1rem;
                            padding: 0 5px;
                        }
                        .a-destinos:hover {
                            font-size: 1.1rem;
                        }
                    }
                }
                .section-table {
                    .section-table__table {
                        .table-tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-content: center;
                            padding: 20px;
                            border-bottom: 1px solid black;
                            .table-tr__td {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
        /* ------------ footer ------------ */
        .footer {
            .footer__h4 {
                font-size: 1.2rem;
            }
        }
    }
    /* Media query para dispositivos mayor a 1201px - Mobile first */
    
    @media screen and (min-width: 1201px) {
        .body-general {
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-areas: "header nav" "section section" "footer footer";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 7fr 0.5fr;
        }
        /* ------------ navegacion ------------ */
        .header {
            .marca-box {
                .marca-box__enlace {
                    font-size: 3rem;
                }
                .marca-box__enlace:hover {
                    color: black;
                    font-size: 3.5rem;
                }
            }
        }
        .navegador {
            .navegador__lista {
                flex-direction: row;
                align-items: center;
                .a-nav {
                    font-size: 1.3rem;
                    padding: 0 0.5rem;
                }
                .a-nav:hover {
                    color: black;
                    font-size: 1.4rem;
                }
            }
        }
        /* ------------ pantalla inicio ------------ */
        #index {
            .section-inicio {
                .box-inicio {
                    margin: 0 10%;
                    .box-inicio__h2 {
                        font-size: 3.5rem;
                    }
                    .box-inicio__p {
                        font-size: 1.5rem;
                        padding: 1rem 10%;
                    }
                }
            }
        }
        /* ------------ pantalla destino ------------ */
        #destinos {
            .section-inicio {
                .enlaces-destinos {
                    .enlaces-destinos__lista {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .a-destinos {
                            font-size: 1rem;
                            padding: 0 5px;
                        }
                        .a-destinos:hover {
                            font-size: 1.1rem;
                        }
                    }
                }
                .section-table {
                    .section-table__table {
                        .table-tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-content: center;
                            padding: 20px;
                            border-bottom: 1px solid black;
                            .table-tr__td {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
        /* ------------ footer ------------ */
        .footer {
            .footer__h4 {
                font-size: 1.6rem;
            }
        }
    }