/* ----------------- Pantalla Paquetes ----------------------------------------- */


/* id para sacar imagen del fondo */

#paquetes {
    background: white;
    .section-inicio {
        grid-area: section;
        .box-cards {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            padding-bottom: 20px;
            .card {
                margin: 10px;
                .card-img-top {
                    height: 180px;
                }
                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .card-title {
                        text-align: center;
                    }
                    .card-text {
                        text-align: center;
                    }
                    .btn {
                        text-align: center;
                    }
                }
            }
        }
    }
}